* {
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 50%;
    margin: 0 auto;
}

.blog .container {
    display: flex;
    flex-wrap: wrap;
    gap: 13px;
    /*khoảng cách giữa các item*/

}

.blog .blog-item img {
    width: 100%;
}

.blog .blog-item {
    width: 32%;
    position: relative;
}

.blog  .blog-item .blog-content {
    
    text-align: center;
    color: red;
    font-size: 15px;
    margin: auto;
    padding: 15px;
}

/* css để nút xuất hiện trên ảnh */
.texthover input {
    display: none;
    width: 150px;
    height: 30px;
    position: absolute;
    margin: 400px 110px;
    font-weight: bold;
    background-color: rgb(204, 27, 27);
    border: none;
 
}
/* css để khi di chuột qua nút thì ảnh mờ */
.blog-item:hover img{
opacity: 30%;
display: block;
}
.blog-item:hover .texthover input{
    display: block;